.container {
  margin: auto;
  padding: 0 15px;
}

.wrapper {
  overflow-x: auto;
}

.table {
  width: 100%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  border-collapse: collapse;
  border: 2px solid white;
  max-width: 1300px;
}

.table th,
.table td {
  text-align: center;
  padding: 10px;
  max-width: 35px;
  border-bottom: 1px solid #adb5bd;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
}

.table th {
  font-weight: 600;
}
