.container {
  padding: 27px 73px;
}

.content {
  margin: 32px 30px;
  min-width: 800px;
  max-width: 1807px;
  box-shadow: 0px 4px 5px 0px #00000024;
  box-shadow: 0px 1px 10px 0px #0000001f;
  box-shadow: 0px 4px 4px 0px #00000040;
  border-radius: 12px;
  background-color: white;
}
