.container {
  margin: auto;
  width: 100%;
  display: flex;
  justify-content: center;
}

.wrapper {
  overflow-x: auto;
}

.table {
  width: 100%;
  border-collapse: collapse;
  border: 0px solid white;
  max-width: 1807px;
  max-height: 830px;
}

.table th,
.table td {
  text-align: center;
  padding: 10px;
  max-width: 35px;
  border-bottom: 1px solid #adb5bd;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
}

.table th {
  font-weight: 600;
}
