.table {
  width: 100%;
  border-collapse: collapse;
  border: 0px solid white;
  max-width: 1807px;
  max-height: 830px;
}

.table th,
.table td {
  text-align: center;
  max-width: 0;
  border-top: 1px solid #bbbbbb;
  font-size: 16px;
  color: black;
  padding: 0 10px;
}

.table th {
  font-weight: 600;
}

.table td {
  font-weight: 400;
}

.table tr {
  height: 50px;
}
