.spinner {
  border: solid transparent;
  border-left-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-radius: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
    transform: rotate(360deg);
  }
}
