.d-inline {
  display: inline-block;
}

.table__item {
  padding: 0 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.green {
  color: #396658;
  background-color: #59c6a5;
}

.blue {
  background-color: #b3dafa;
  color: #0079c2;
}

.red {
  background-color: #ff9d8f;
  color: #fd1e00;
}

@media (max-width: 1600px) {
  .w-100 {
    width: 100%;
  }
}
