.item {
  max-width: 81;
  max-height: 25;
}

.green {
  color: #396658;
  background-color: #59c6a5;
}

.blue {
  background-color: #b3dafa;
  color: #0079c2;
}

.red {
  background-color: #ff9d8f;
  color: #fd1e00;
}
