.header {
  width: 100%;
  min-width: 300px;
  top: 0;
  left: 0;
  z-index: 50;
  &__body {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: end;
    height: 60px;
    align-items: center;
    &-pages {
      font-size: 16px;
      font-weight: 400;
      color: #6b7280;
      margin-right: 12px;
    }
    &-post-button {
      border-radius: 7.41px;
      height: 38px;
      width: 128px;
      border: 0;
      background-color: #0a8fdc;
      padding: 0;
      color: white;
      font-size: 14px;
      font-weight: 600;
      margin-right: 23px;
      &:hover {
        opacity: 0.8;
        cursor: pointer;
      }
    }
    &-svg {
      &-btns-container {
        min-width: 35px;
        display: flex;
        justify-content: space-between;
        margin-right: 14px;
        width: 60px;
      }
      &-button {
        &:hover:not([disabled]) {
          opacity: 0.8;
          cursor: pointer;
        }
        border: 0;
        background-color: white;
      }
    }
  }
}
