.dropdown {
  position: relative;
  &__button {
    position: relative;
    width: 100%;
    display: block;
    height: 48px;
    border: 1px solid #e0e0e0;
    background: #ffffff;
    padding: 13px 43px 13px 12px;
    font-size: 15px;
    font-weight: 400;
    color: #111827;
    line-height: 22px;
    text-align: left;
    cursor: pointer;
    &::after {
      content: "";
      position: absolute;
      top: 20px;
      right: 20px;

      width: 0;
      height: 0;
      border-width: 8px 6.5px 0 6.5px;
      border-color: #6b7280 transparent transparent transparent;
      border-style: solid;
      pointer-events: none;
      overflow: hidden;
    }
  }
  &__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    background: #ffffff;
    border: 1px solid #e0e0e0;
    position: absolute;
    left: 0;
    top: 49px;
    width: 100%;
    z-index: 99;
    font-weight: 400;
    font-size: 15px;
    color: #111827;
    line-height: 22px;
    text-align: left;

    &-item {
      margin: 0;
      padding: 5px 12px;
      cursor: pointer;
      &:hover {
        background-color: #e0e0e0;
      }
    }
  }
}
